@import '../../styles/styles.scss';

.App{
    background-color: #c2c2c2;
    padding: 16px;
    @include borders(white, #999);
}

.header{
    @include borders(#7b7b7b ,white);
    background: #c0c0c0;
    padding: 10px 12px;
    border-width: 4px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.body{
margin-top: 16px;
border-width: 4px;
    border-style: solid;
    @include borders(#7b7b7b ,white);
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.face-container{
    width: 52px;
    height: 52px;
    font-size: 35px;
    border-width: 4px;
    border-style: solid;
    @include borders;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}